<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-light">
      <a class="navbar-brand" href="#">Lab Analisis y Diseño 2 </a>
    </nav>
    <div class="container mt-5 pt-5">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Franklin Velásquez</h1>
        <h1>Carnet 201602558</h1>
        <h3>Lab Analisis 2 - Tarea 2</h3>
      </div>
    </div>
  </body>
</html>
